@charset "utf-8";
/* CSS Document */

html,
body {
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    height: 100%;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.button-group {
    padding-left: 0;
    margin: 0;
}
.button-group > li {
    display: inline;
    margin-left: -3px;
}
.button-group > li > a {
    background-color: #f6f5f7;
    border: 1px solid #e8e7e8;
    color: #7A7A7A;
    font-weight: normal;
    padding: 7px 0;
    display: inline-table;
    width: 62px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
.button-group > li > a:focus {
    background-color: #CDCDCD;
    border: 1px solid #CDCDCD;
    color: #FFFFFF;
}
.container-fuild {
    width: 100%;
}
.container {
    width: 960px;
    margin: auto;
}
.logo-header {
    height: 80px;
    background-color: #ff6600;
    color: rgba(255, 255, 255, 1.00);
    padding: 10px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.menu-header {
    height: 40px;
    background-color: #D45501;
    color: rgba(255, 255, 255, 1.00);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.menu-header .container > ul {
    margin: 0;
    padding: 0;
    position: relative;
}
.menu-header .container > ul > li {
    display: inline-block;
    font-size: 13px;
    padding: 13px 20px 0 20px;
    text-transform: uppercase;
    height: 27px;
}
.menu-header .container > ul > li > div {
    display: none;
    position: absolute;
    width: 100%;
    left: 13px;
    height: 300px;
    background-color: #FFFFFF;
    position: absolute;
    width: 960px;
    height: 300px;
    background-color: #FFFFFF;
    margin-left: -13px;
    margin-top: 12px;
    -webkit-box-shadow: 1px 4px 5px 0px rgba(163, 163, 163, 1);
    -moz-box-shadow: 1px 4px 5px 0px rgba(163, 163, 163, 1);
    box-shadow: 1px 4px 5px 0px rgba(163, 163, 163, 1);
}
.menu-header .container > ul > li:hover {
    background-color: #FFFFFF;
    cursor: pointer;
    color: #858585;
}
.menu-header .container > ul > li:first-child {
    padding-left: 13px;
}
.menu-header .container > ul > li:hover > div {
    display: block;
}
.menu-header .container > ul > li > div > ul {
    display: inline-table;
    margin: 0!important;
    list-style: none;
    padding: 20px;
}
.menu-header .container > ul > li > div > ul > li > a {
    text-decoration: none;
    font-size: 14px;
    text-transform: capitalize!important;
    color: #7C7C7C;
    line-height: 35px;
}
.menu-header .container > ul > li > div > ul > li > a:hover {
    text-decoration: underline;
}
.menu-header .container > ul > li > div > ul > li > label {
    font-weight: bold;
    padding-bottom: 13px;
    color: #FA7A1D;
    display: block;
}
.logo {} .pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.arw {
    font-size: 8px!important;
    margin-left: 5px;
}
nav {
    width: 625px;
}
.sgn-br {
    border-left: solid 1px white;
    margin-left: 6px;
}
nav > ul > li {
    display: inline;
}
nav > ul > li > a {
    padding-left: 10px;
    border-left-color: rgba(0, 0, 0, 1.00);
    color: rgba(255, 255, 255, 1.00);
    text-decoration: none;
    font-weight: bold;
}
input[type="text"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    -webkit-appearance: none!important;
    display: inline-block;
    padding: 4px 6px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    -webkit-border-radius: 0;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -khtml-border-radius: 4px;
}
.srch-txt {
    width: 60%;
}
.btn {
    padding: 4px 12px;
    margin-left: -3px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    display: inline-block;
    width: 100%;
    background: #fff url(../image/arrowdown.gif) no-repeat 97% 50%;
}
.lng {
    float: right;
    margin-left: 25px;
    width: 78px;
}
.slt-ty {
    margin-top: 8px;
}
.slt-ty select {
    color: #000000!important;
}
.side-rw {
    margin-top: 10px;
}
.side-rw > label {
    font-weight: bold;
    font-size: 13px;
    color: #999999;
    margin-bottom: 8px;
    display: block;
}
.text-slng {
    background-color: #D45501;
    color: #FFFFFF;
    padding: 7px 7px 7.5px 7px;
    z-index: 9999;
}
.txt-rm {
    width: 75%;
    -webkit-border-radius: 0 4px 4px 0!important;
    -moz-border-radius: 0 4px 4px 0!important;
    border-radius: 0 4px 4px 0!important;
    -khtml-border-radius: 0 4px 4px 0!important;
    padding-bottom: 2px!important;
    margin-bottom: -1px!important;
}
.prcnt {
    width: 79%!important;
}
.more {
    font-size: 15px;
    text-decoration: none;
    color: #C5C5C5;
}
.more:hover {
    color: #D45501;
}
.rels {
    font-size: 15px;
    text-decoration: none;
    color: #C5C5C5;
}
.rels:hover {
    color: #D45501;
}
.txt-cntr {
    text-align: center;
}
.txt-yrs {
    width: 68%!important;
}
.select-style select {
    color: #A5A5A5;
    padding: 5px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.select-style select:focus {
    outline: none
}
.footer {
    width: 100%;
    height: auto;
    padding: 25px 0 0 0;
    bottom: 0;
    left: 0;
    color: #FFFFFF;
    font-size: 12px;
    background-color: #2d2d2d;
}
.footer-bottom {
    margin-top: 10px;
    font-size: 10px;
    padding: 4px 0;
    transition: .5s ease-out color;
    -moz-transition: .5s ease-out color;
    -webkit-transition: .5s ease-out color;
    -o-transition: .5s ease-out color;
    color: #8d8d8d!important;
    background-color: rgba(0, 0, 0, .1);
    line-height: 20px;
    margin-top: 40px;
}
.full-width {
    width: 100%;
}
.left-cont {
    width: 76%;
    background-color: #FFFFFF;
    -webkit-box-shadow: inset -1px 0 0 0 #d2d2d2, inset -1px 0 0 0 #e6e6e6, inset 1px 0 0 0 #d2d2d2, 1px 0 0 0 #e6e6e6, 0 0 0 0 #e8e8e8, 0 2px 0 0 rgba(241, 241, 241, 0.3), 0 1px 0 0 #b1b1b1;
    -moz-box-shadow: inset -1px 0 0 0 #d2d2d2, inset -1px 0 0 0 #e6e6e6, inset 1px 0 0 0 #d2d2d2, 1px 0 0 0 #e6e6e6, 0 0 0 0 #e8e8e8, 0 2px 0 0 rgba(241, 241, 241, 0.3), 0 1px 0 0 #b1b1b1;
    box-shadow: inset -1px 0 0 0 #d2d2d2, inset -1px 0 0 0 #e6e6e6, inset 1px 0 0 0 #d2d2d2, 1px 0 0 0 #e6e6e6, 0 0 0 0 #e8e8e8, 0 2px 0 0 rgba(241, 241, 241, 0.3), 0 1px 0 0 #b1b1b1;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
}
.form-rdo > div {
    display: inline;
    margin-right: 5px;
}
.form-rdo > div > label {
    cursor: pointer;
}
.form-rdo > div > label > input[type="radio"] {
    margin-right: 0!important;
    cursor: pointer;
}
.rd-mr-rw {
    margin-bottom: 4px!important;
}
.mrg-row-r {
    margin-bottom: 15px;
}
.more-fil {
    display: none;
}
.prmy-btn {
    background-color: #ff6600;
    padding: 8px 10px;
    color: #FFFFFF;
    margin: 10px 0;
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-bottom: solid 5px #C7560A;
    font-weight: bold;
}
.prmy-btn:hover {
    background-color: #F56301;
}
.less {
    display: none;
    font-size: 15px;
    text-decoration: none;
    color: #C5C5C5;
}
.less:hover {
    color: #D45501;
}
.right-wrp {
    margin-left: 16px;
    width: 22%;
    float: left;
    background-color: #FFFFFF;
    -webkit-box-shadow: inset -1px 0 0 0 #d2d2d2, inset -1px 0 0 0 #e6e6e6, inset 1px 0 0 0 #d2d2d2, 1px 0 0 0 #e6e6e6, 0 0 0 0 #e8e8e8, 0 2px 0 0 rgba(241, 241, 241, 0.3), 0 1px 0 0 #b1b1b1;
    -moz-box-shadow: inset -1px 0 0 0 #d2d2d2, inset -1px 0 0 0 #e6e6e6, inset 1px 0 0 0 #d2d2d2, 1px 0 0 0 #e6e6e6, 0 0 0 0 #e8e8e8, 0 2px 0 0 rgba(241, 241, 241, 0.3), 0 1px 0 0 #b1b1b1;
    box-shadow: inset -1px 0 0 0 #d2d2d2, inset -1px 0 0 0 #e6e6e6, inset 1px 0 0 0 #d2d2d2, 1px 0 0 0 #e6e6e6, 0 0 0 0 #e8e8e8, 0 2px 0 0 rgba(241, 241, 241, 0.3), 0 1px 0 0 #b1b1b1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.fotnav {
    padding: 0;
    margin-bottom: 30px;
    display: inline-table;
    padding-right: 35px;
}
.fotnav > li {
    list-style: none;
    margin: 0;
    line-height: 20px;
}
.fotnav > li > a {
    text-decoration: none;
    color: #D0D0D0;
}
.fotnav > li > label {
    font-weight: bold;
    margin-bottom: 7px;
    display: block;
}
.fotnav > li > a:hover {
    text-decoration: underline;
}
.left-ul > ul {
    margin: 0;
    padding: 0;
}
.left-ul > ul > li {
    display: inline;
}
.left-ul > ul > li > a {
    text-decoration: none;
    color: #cbcbcb;
    font-size: 12px;
    background-color: rgba(0, 0, 0, .3);
    padding: 7px 12px;
    border-radius: 3px;
    margin-bottom: 20px;
}
.breadcrumb {
    padding: 0px 15px 10px 5px;
    margin-top: -5px!important;
    margin: 0 0 0;
    list-style: none;
}
.breadcrumb > li {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
}
.breadcrumb > li > a {
    color: #999999!important;
    text-decoration: none;
}
.breadcrumb > li > a:hover {
    text-decoration: underline;
}
.arw-brdscm {
    margin-left: 7px;
    color: #999999;
}
.side-wr-body {
    font-size: 12px;
    padding: 10px;
    display: inline-block;
}
.side-wr-body > label {
    font-weight: bold;
    font-size: 13px;
    color: #999999;
}
.side-dhr {
    width: 100%;
    padding: 10px 0 10px 10px;
    background-color: #D45501;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.hmr-rwp {
    padding-top: 20px;
    padding-bottom: 50px;
}
.bnk-log {
    max-width: 60px;
}
.btn-sml {
    padding: 4px 20px;
    border-bottom: solid 3px #C7560A;
    margin: 0;
}
.socio > ul {
    margin: 0;
}
.socio > ul > li {
    display: inline;
    list-style: none;
}
.socio > ul > li > a {
    color: #FFFFFF;
    font-size: 25px;
    margin-right: 10px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
.blue {
    border: 2px solid #696969;
}
.blue thead {
    background: #696969;
}
.purple {
    border: 2px solid #9B59B6;
}
.purple thead {
    background: #9B59B6;
}
thead {
    color: white;
}
th,
td {
    text-align: center;
    padding: 5px 0;
    font-size: 13px;
}
tbody tr:nth-child(even) {
    background: #ECF0F1;
}
.fixed {
    top: 0;
    position: fixed;
    width: auto;
    display: none;
    border: none;
}
.scrollMore {
    margin-top: 600px;
}
.up {
    cursor: pointer;
}
.clr {
    clear: both;
}
.mrg-top-10 {
    margin-top: 10px;
}
.post-img {
    max-width: 74px;
    min-height: 40px;
    background-color: #FFFFFF;
    padding: 2px;
    border: solid 1px #C7C4C4;
}
.pot-txt {
    width: 100px;
    margin-left: 10px;
    height: 40px;
    overflow: hidden;
}
.pot-txt > p {
    margin: 0
}
.pot-row {
    margin: 10px 0;
}
.pot-row:first-child {
    margin: 0;
}
.image-off {
    width: 26px;
    height: 25px;
    background-image: url(../image/check_off.png);
    cursor: pointer;
    margin-left: 20px;
}
.image-on {
    width: 26px;
    height: 25px;
    background-image: url(../image/check_on.png);
}
.tbl-hdr {
    background-color: white;
    color: #B7B7B7;
}
.tbl-hdr-th {
    padding: 9px 7px!important;
}
.green-tick {
    color: #26B929;
    font-size: 18px!important;
}
.crs {
    color: #FF0000;
    font-size: 18px!important;
}
.info {
    color: #4176B8;
    font-size: 18px;
}
.mr-rsl {
    margin: 15px 0;
    text-align: center;
}
.hide-row {
    display: none;
}
.less-rsl {
    font-size: 15px;
    text-decoration: none;
    color: #C5C5C5;
    display: none;
}
.less-rsl:hover {
    color: #D45501;
}